html,
body,
#app {
    height: 100% !important;
    width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Source Sans Pro';
	font-size: 16px;
	overflow: hidden;
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;
}

.app-header,
.app-navbar,
.app-body,
.app-sidebar,
.app-main {
    position: relative;
}

.app-header,
.app-body {
    display: flex;
}

.app-header {
    height: 51px;
    z-index: 1;
}

.app-body {
	height: calc(100% - 51px);
}

.app-navbar {
	background-color: #f7f7f7;
	border-bottom: #dfdfdf solid 1px;
	display: flex;
	flex-basis: 100%;
}

.app-sidebar {
    border-right: #dee2e6 solid 1px;
    height: 100%;
    min-width: 260px;
    z-index: 1;
}

.app-main {
	flex-basis: 100%;
    overflow: auto;
    padding: 20px;
}

.brand-link {
    color: #909090 !important;
    display: table;
    font-weight: 600;
    line-height: 20px;
	margin: 15px 25px;
	text-transform: uppercase;
}

.brand-link > .text {
	font-size: 17px;
	line-height: inherit;
	vertical-align: top;
}

.heading {
	font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}

.heading-1 {
	font-size: 32px;
}

.heading-4 {
    font-size: 17px;
}

.heading-5 {
	font-size: 14px;
}

.text {
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
}

.feather {
	display: inline-block;
	font-size: 16px;
	line-height: inherit;
}

.feather:before {
    display: block;
}

.mdi {
	display: inline-block;
	font-size: 24px;
	line-height: inherit;
}

.mdi:before {
	display: block;
}

.link {
	color: #78b1fe;
	display: inline-block;
	line-height: inherit;
	text-decoration: none;
	vertical-align: top;
}

.image {
	display: block;
}

.form-col-count-1 {
	width: 360px;
}

.form-element-width-1 {
	width: 320px !important;
}

.form-element-width-2 {
	width: 670px !important;
}

.fieldset {
	border: #dfdfdf solid 1px;
	border-radius: .25rem;
	padding: 20px;
}

.box {
	border: #dfdfdf solid 1px;
	border-radius : .25rem;
	display: inline-block;
	padding: 20px;
	position: relative;
	width: auto;
}

.box-title {
	background-color: #ffffff;
	border: #dfdfdf solid 1px;
	border-radius: .25rem;
	font-size: 14px;
	font-weight: 600;
	position: absolute;
	padding: .25rem .5rem;
	top: -13px;
	left: 16px;
}

.form-group {
	margin-bottom: 1.25rem;
}

.input-group {
    display: flex;
    position: relative;
}

.input-group.custom-checkbox > .checkbox {
	position: absolute;
	height: 0;
	width: 0;
	z-index: -1;
}

.input-group.custom-checkbox > .label.label-checkbox {
	cursor: pointer;
}

.input-group.custom-checkbox > .label.label-checkbox:before {
	border: #f1f1f1 solid 2px;
	border-radius: 4px;
	content: '';
	display: inline-block;
	height: 16px;
	margin: -1px 6px -1px 0;
	vertical-align: top;
	width: 16px;
}

.input-group.custom-checkbox > .checkbox:checked + .label.label-checkbox:before {
	background-color: #f1f1f1;
}

label {
	display: table;
	font-size: 14px;
	line-height: 14px;
}

.col-form-label {
	line-height: .875rem;
	padding-bottom: .6875rem;
	padding-top: .6875rem;
}

.btn {
    font-size: 0.875rem;
    line-height: 0.875rem;
    padding: 10px 14px;
}

.btn-icon {
	padding-left: 9px;
	padding-right: 9px;
}

.btn-transparent:hover {
	background-color: rgba(0,0,0,.03);
}

.btn-transparent:focus {
	box-shadow: none;
}

.btn-rounded {
    border-radius: 18px;
}

.btn:disabled {
	cursor: not-allowed;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
	border-color: #fff !important;
}

.btn > .mdi {
	vertical-align: top;
}

.btn > .mdi:before {
	margin-left: -4px;
	margin-right: 4px;
	width: 16px;
}

.btn > .mdi + .text {
	margin-left: 4px;
}

.btn-group-toggle > .btn input[type=checkbox]:checked + .feather.icon-circle:before {
	content: '\e83e';
}

.btn-group-toggle > .btn input[type=checkbox]:indeterminate + .feather.icon-circle:before {
	content: '\e894';
}

.btn-group-toggle > .btn {
	box-shadow: none;
}

.form-control,
.custom-select {
	height: auto;
	font-size: 14px;
	line-height: 14px;
}

.form-control {
	padding: 8px 12px;
}

.form-control[type=date] {
	padding: 6px 0 7px 12px;
}

.custom-select {
	padding: 10px 12px;
}

.custom-checkbox .custom-control-label {
	cursor: pointer;
	margin-left: 20px;
}

.custom-checkbox .custom-control-label::before,
.custom-checkbox .custom-control-label::after {
	top: -1px;
	left: -20px;
}

.navbar-menu,
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.app-sidebar > .sidebar-menu {
    padding-top: 10px;
    max-height: calc(100% - 50px);
    overflow: auto;
}

.sidebar-menu > .menu-item > .menu-link.actived,
.sidebar-menu > .menu-item > .menu-link:hover,
.menu-item > .sidebar-menu {
	background-color: rgba(0, 0, 0, 0.03);
}

.sidebar-menu > .menu-item > .menu-link.actived {
	color: #007bff;
}

.pagination-wrapper {
	display: table;
}

.pagination {
	display: flex;
	list-style: none;
	margin-bottom: 0;
	margin-top: 0;
}

.pagination-item + .pagination-item {
	margin-left: 6px;
}

.pagination-link {
	background-color: #f1f1f1;
	border-radius: 4px;
	color: #909090;
	display: flex;
	text-decoration: none;
	padding: 7px 11px;
}

.pagination-link:hover {
	background-color: #e9e9e9;
}

.pagination-link.actived {
	background-color: #78b1fe;
	color: #ffffff;
}

.login-overlay {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.login-heading {
	color: #303030;
	font-weight: 400;
	font-size: 28px;
	line-height: 20px;
	margin-bottom: 20px;
	margin-top: 0;
	text-align: center;
}

.login-box {
	height: 100%;
}

.login-box-message {
	color: #909090;
	margin-bottom: 20px;
	text-align: center;
}

.menu-item > .sidebar-menu > .menu-item > .menu-link {
	padding-left: 30px;
}

.menu-item > .sidebar-menu.hidden {
	display: none;
}

.menu-heading {
	color: #d8dbe0;
	font-weight: 600;
	line-height: 20px;
	margin: 15px 25px;
}

.menu-link {
	display: flex;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	transition: color 0.25s ease;
}

.navbar-menu {
	display: flex;
	margin-left: auto;
	margin-right: 20px;
}

.navbar-menu > .menu-item {
	margin: 9px;
}

.navbar-menu > .menu-item > .menu-link {
	border-radius: 20px;
	color: #909090;
	padding: 6px;
	text-decoration: none;
}

.navbar-menu > .menu-item > .menu-link:hover {
	color: #303030;
}

.navbar-menu > .menu-item > .menu-link > .text {
	line-height: 20px;
}

.navbar-menu > .menu-item > .menu-link > .feather {
	vertical-align: middle;
	text-align: center;
}

.navbar-menu > .menu-item > .menu-link > .avatar-image {
	border-radius: 50%;
	display: inline-block;
	height: 32px;
	margin: -6px 0;
	width: 32px;
}

.sidebar-menu > .menu-item > .menu-link {
	color: #707070;
	padding: 12px 25px;
	text-decoration: none !important;
}

.sidebar-menu > .menu-item > .menu-link > .text {
    line-height: inherit;
}

.sidebar-menu > .menu-item > .menu-link > .mdi + .text {
	margin-left: 8px;
}

.sidebar-menu > .menu-item > .sidebar-menu > .menu-item > .menu-link {
	padding-left: 57px;
}

.sidebar-menu > .menu-item > .sidebar-menu > .menu-item > .sidebar-menu > .menu-item > .menu-link {
	padding-left: 83px;
}

.sidebar-menu > .menu-item > .menu-link {
	color: #909090;
	font-size: 14px;
}

.page-link {
	line-height: 14px;
}

.page-link > .feather {
	vertical-align: top;
}

.tabs-menu {
	border-bottom: #f1f1f1 solid 2px;
	display: flex;
	list-style: none;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 0;
}

.tabs-item + .tabs-item {
	margin-left: 6px;
}

.tabs-link {
	border: transparent solid 2px;
	border-radius: 4px;
	color: #606060;
	display: block;
	margin-bottom: -2px;
	padding: 8px 12px;
}

.tabs-link.-actived {
	border-color: #f1f1f1;
	border-bottom-color: #ffffff;
	color: #78b1fe;
}

.badge {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #ffffff;
	display: inline-block;
	line-height: 20px !important;
	padding-left: 4px;
	padding-right: 4px;
}

.badge-blue {
	background-color: #78b1fe;
	border-radius: 4px;
	line-height: 10px;
	padding: 0 5px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
}

.container-fluid {
	flex-basis: 100%;
}

.overlay > .card {
	margin: 20px auto auto auto;
	max-height: calc(100% - 40px);
}

.breadcrumb {
	background-color: transparent;
	border: none;
	border-bottom: #dee2e6 solid 1px;
	border-radius: 0;
	padding: 0 0 1.125rem 0;
}

.breadcrumb-unstyled {
	background-color: transparent;
	border: none;
	padding: 0;
}

.breadcrumb-item {
	line-height: 14px;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    line-height: 14px;
    vertical-align: top;
}

.breadcrumb-item > a {
	display: inline-block;
	line-height: 14px;
	vertical-align: top;
}

.card-header {
	padding-top: .875rem;
	padding-bottom: .875rem;
}

.card-control {
	background-color: transparent;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	line-height: 16px;
	margin: -7px 0;
	padding: 6px;
	outline: none;
	transition: background-color 0.125s ease;
}

.card-control:hover {
	background-color: #f1f1f1;
}

.card-control > .feather {
	vertical-align: top;
}
.card-control + .card-control {
	margin-left: 6px;
}

.card-title {
	color: #606060;
	font-weight: 400;
	font-size: 17px;
	line-height: 14px;
	margin: 0 auto 0 0;
	text-overflow: ellipsis;
}

.card-footer {
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;
}

.modal-header {
	padding: 1rem 1.25rem;
}

.modal-header .close {
	display: flex;
	outline: none;
	padding: 15px;
}

.modal-title {
	font-size: 17px;
	line-height: 14px;
}

.modal-body {
	padding: 1.25rem;
}

.modal-footer {
	padding: 1rem 1.25rem;
}

.alert {
	line-height: 14px;
	padding: .625rem .75rem;
}

.alert-dismissable {
	padding-right: 30px;
}

.alert > .close {
	font-size: 0;
	right: 0;
	outline: none;
	padding: .5625rem;
	position: absolute;
	top: 0;
}

.overlay {
	background-color: rgba(0,0,0,0.25);
	display: flex;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

.table-wrapper {
	overflow: auto;
}

.form-table {
	border-spacing: 0 20px;
	border-collapse: separate;
	margin-bottom: -20px;
	margin-top: -20px;
	table-layout: fixed;
}

.form-table > tbody > tr > th {
	color: #606060;
	font-weight: 400;
	text-align: right;
}

.form-table > tbody > tr > td {
	padding: 0;
}

.table-wrapper {
	display: inline-block;
	border-radius: .25rem;
	border: #dee2e6 solid 1px;
	max-width: 100%;
	vertical-align: top;
}

.table {
	margin-bottom: 0;
	table-layout: fixed;
	width: auto;
}

.table-header {
	position: sticky;
	top: 0;
	z-index: 2;
}

.table-wrapper > .table-bordered {
	border: none;
}

.table-wrapper > .table-bordered > .thead-hidden > tr > th {
	border: none;
	padding: 0;
	height: 0;
	visibility: hidden;
}

.table-wrapper > .table-bordered > thead > tr > th:first-child:not(.th-bordered),
.table-wrapper > .table-bordered > tbody > tr > td:first-child:not(.td-bordered),
.table-wrapper > .table-bordered > tbody > tr > th:first-child:not(.th-bordered),
.table-wrapper > .table-bordered > tfoot > tr > td:first-child:not(.td-bordered) {
	border-left: transparent inset 0 !important;
}

.table-wrapper > .table-bordered > thead > tr > th:last-child:not(.th-bordered),
.table-wrapper > .table-bordered > tbody > tr > td:last-child:not(.td-bordered),
.table-wrapper > .table-bordered > tbody > tr > th:last-child:not(.th-bordered),
.table-wrapper > .table-bordered > tfoot > tr > td:last-child:not(.td-bordered) {
	border-right: transparent inset 0 !important;
}

.table-wrapper > .table > thead:first-child > tr:first-child > th:not(.th-bordered),
.table-wrapper > .table > tbody:first-child > tr:first-child > th:not(.th-bordered),
.table-wrapper > .table > tbody:first-child > tr:first-child > td:not(.td-bordered) {
	border-top: transparent inset 0 !important;
}

.table-wrapper > .table-bordered > tbody > tr:last-child > td:not(.td-bordered),
.table-wrapper > .table-bordered > tbody > tr:last-child > th:not(.th-bordered),
.table-wrapper > .table-bordered > tfoot:last-child > tr:last-child > td:not(.td-bordered) {
	border-bottom: transparent inset 0 !important;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td {
	border-style: inset;
	line-height: 14px;
	padding: 11px 12px;
}

.table.table-small > thead > tr > th,
.table.table-small > tbody > tr > td {
	font-size: 11px;
}

.table > thead > tr > th,
.table > tbody > tr > th {
	background-color: #f7f7f7 !important;
	vertical-align: middle;
}

.table > thead:not(.thead-hidden) > tr > th {
	border-bottom-style: solid !important;
}

.table.table-bordered > thead > tr > th {
	text-align: center;
}

.table > tbody > tr > td {
	background-color: transparent !important;
	vertical-align: middle;
}

.table > thead > tr > th.cell-freeze-left,
.table > tbody > tr > td.cell-freeze-left {
	left: 0;
	position: sticky;
}

.table > thead > tr > th.cell-freeze-left:after,
.table > tbody > tr > td.cell-freeze-left:after {
	background-color: #dee2e6;
	display: block;
	content: ' ';
	right: -1px;
	position: absolute;
	top: 0;
	height: calc(100% + 2px);
	width: 1px;
}

.table > tbody > tr > td.cell-freeze-left {
	background-color: #ffffff !important;
}

.bootstrap-select.custom-select {
	border: none;
	padding: 0;
}

.bootstrap-select:not(.input-group-btn),
.bootstrap-select[class*=col-] {
	display: block;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: auto;
}

.bootstrap-select.show > .dropdown-toggle {
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.bootstrap-select > .dropdown-toggle {
	line-height: 16px;
	min-width: 80px;
	padding: 9px 30px 9px 12px;
	height: 36px;
}

.bootstrap-select > .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
	outline: none !important;
}

.bootstrap-select > .dropdown-toggle::after {
	display: none;
}

.bootstrap-select > .dropdown-menu > .status {
	background-color: #f7f7f7;
	border-radius: 4px;
	color: #606060;
	font-style: normal;
	font-size: 14px;
	margin: 0 10px;
	padding: 6px 8px;
}

.bootstrap-select > .dropdown-menu > .bs-searchbox {
	padding: 0 10px 10px 10px;
}

.bootstrap-select > .dropdown-menu > .bs-searchbox > .form-control {
	border-radius: 0;
	border-left: none;
	border-right: none;
	border-top: none;
	box-shadow: none;
	padding: 4px 0 6px 0;
}

.bootstrap-select > .dropdown-menu > .bs-searchbox > .form-control::-webkit-search-cancel-button {
	display: none;
}

.bootstrap-select > .dropdown-menu > .inner > .dropdown-menu.inner > .dropdown-divider {
	margin-bottom: 0;
}

.bootstrap-select > .dropdown-menu > .inner > .dropdown-menu.inner > .no-results {
	background-color: #f7f7f7;
	border-radius: 0.25rem;
	font-size: 14px;
	line-height: 14px;
	padding: 4px 6px;
	margin-left: 10px;
	margin-right: 10px;
}

.bootstrap-select > .dropdown-menu > .inner > .dropdown-menu.inner > li > .dropdown-item {
	font-size: 14px;
	line-height: 14px;
	padding: 8px 12px;
	outline: none;
}

.bootstrap-select > .dropdown-menu > .inner > .dropdown-menu.inner > li > .dropdown-item.active {
	background-color: #007bff;
	color: #ffffff;
}

.bootstrap-select > .dropdown-menu > .inner > .dropdown-menu.inner:hover > li > .dropdown-item.active {
	background-color: transparent;
	color: initial;
}

.bootstrap-select > .dropdown-menu > .inner > .dropdown-menu.inner > li > .dropdown-item:hover {
	background-color: #007bff !important;
	color: #ffffff !important;
}

.tile-wrapper {
	display: flex;
	margin: -10px;
}

.tile {
	display: inline-block;
	margin: 10px;
	position: relative;
}

.tile > div > .large-icon {
	font-size: 72px;
	line-height: 60px;
	vertical-align: top;
}

.tile > .control {
	background-color: #007bff;
	color: #ffffff;
	border: none;
	border-radius: 12px;
	display: none;
	line-height: 16px;
	outline: none;
	padding: 4px;
	position: absolute;
	right: 0;
	top: 0;
}

.tile:hover > .control {
	display: flex;
}

.control > .mdi:before {
	margin-left: -4px;
	margin-right: 4px;
	width: 16px;
}

.tile > .remove {
	background-color: #dc3545;
	color: #ffffff;
	border: none;
	border-radius: 12px;
	display: none;
	line-height: 16px;
	outline: none;
	padding: 4px;
	position: absolute;
	right: 0;
	top: 0;
}

.tile:hover > .remove {
	display: flex;
}

.flex {
	display: flex;
}

.font-0 {
	font-size: 0 !important;
}

.v-hidden {
	visibility: hidden;
}

.h-0 {
	border-bottom-width: 0 !important;
	border-top-width: 0 !important;
	height: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.w-0 {
	border-left-width: 0;
	border-right-width: 0;
	padding-left: 0 !important;
	padding-right: 0 !important;
	width: 0 !important;
}

@media (min-width: 992px) {
	.offset-lg-n3 {
		margin-left: -25%;
	}

	.offset-lg-n4 {
		margin-left: -33.333333333333336%;
	}

    .text-lg-right {
    	text-align: right;
    }
}
