.login-image {
    display: table;
	margin: 0 auto 25px auto;
}

.login-title {
	text-align: center;
}

.alert {
	line-height: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media screen and (max-width:480px) {
	.login-box,
	.register-box {
		width: 100%;
	}
}
